In [10]:
# Import dependencies
import os
import requests
import pandas as pd
import alpaca_trade_api as tradeapi

%matplotlib inline

In [11]:
# Create .env file to hold api keys
# Load .env variable
from dotenv import load_dotenv
load_dotenv()

True

Alpaca api:

In [12]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [13]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes (5 years)
start_date = pd.Timestamp("2017-11-17", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-11-01", tz="America/New_York").isoformat()

# Ticker information
tickers = ["TSLA","SPY","XEL","AAPL","ESGU"]

In [14]:
# Get 5 year's worth of historical price data
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# set date as index
df_ticker.index = df_ticker.index.date

# sample data
df_ticker.head()

,open,high,low,close,volume,trade_count,vwap,symbol
2017-11-17,171.04,171.39,169.6400,170.15,21900015,130140,170.393943,AAPL
2017-11-20,170.29,170.56,169.5600,169.98,16262789,95572,170.000606,AAPL
2017-11-21,170.78,173.70,170.7800,173.14,25131295,137407,172.945834,AAPL
2017-11-22,173.36,175.00,173.0500,174.96,25589080,130437,174.322524,AAPL
2017-11-24,175.10,175.50,174.6459,174.97,14446088,64847,175.096149,AAPL

In [15]:
# drop 'symbol' column for each ticker
# separate each ticker into its own dataframe
TSLA = df_ticker[df_ticker['symbol']=='TSLA'].drop('symbol', axis = 1)
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis = 1)
XEL = df_ticker[df_ticker['symbol']=='XEL'].drop('symbol', axis = 1)
AAPL = df_ticker[df_ticker['symbol']=='AAPL'].drop('symbol', axis = 1)
ESGU = df_ticker[df_ticker['symbol']=='ESGU'].drop('symbol', axis = 1)

In [16]:
# concat ticker dataframes together
df_ticker = pd.concat([TSLA, SPY, XEL, AAPL, ESGU],axis=1, keys=['TSLA','SPY','XEL','AAPL','ESGU'])
df_ticker

               TSLA                                                  \
               open      high     low   close    volume trade_count
2017-11-17  325.670  326.6700  313.15  315.05  13787039      136242
2017-11-20  313.790  315.5000  304.75  308.74   8247753       81075
2017-11-21  310.860  318.2300  308.71  317.81   7296732       69382
2017-11-22  316.770  317.4200  311.84  312.60   4917636       48176
2017-11-24  313.790  316.4100  311.00  315.55   3244065       30179
...             ...       ...     ...     ...       ...         ...
2022-10-26  219.400  230.6000  218.20  224.64  85275380      921830
2022-10-27  229.770  233.8100  222.85  225.09  61644674      740945
2022-10-28  225.400  228.8600  216.35  228.52  69040080      793069
2022-10-31  226.195  229.8500  221.94  227.54  61560070      717792
2022-11-01  234.050  237.3951  227.28  227.82  62689105      701489

                           SPY                      ...       AAPL  \
                  vwap    open      high       low  ...     volume
2017-11-17  318.163279  258.22  258.5882  257.7700  ...   21900015
2017-11-20  307.918540  258.14  258.5250  257.8600  ...   16262789
2017-11-21  314.991916  259.18  260.2000  258.2627  ...   25131295
2017-11-22  313.721212  260.00  260.1500  259.5700  ...   25589080
2017-11-24  314.339344  260.32  260.4800  260.1600  ...   14446088
...                ...     ...       ...       ...  ...        ...
2022-10-26  226.572058  381.62  387.5800  381.3500  ...   88834489
2022-10-27  226.138713  383.07  385.0000  379.3300  ...  109198287
2022-10-28  224.185539  379.87  389.5200  379.6800  ...  164513407
2022-10-31  226.621743  386.44  388.4000  385.2600  ...   97925458
2022-11-01  230.789246  390.14  390.3900  383.2900  ...   80379345

                                       ESGU                            \
           trade_count        vwap     open     high      low   close
2017-11-17      130140  170.393943  56.5500  56.5850  56.4421  56.509
2017-11-20       95572  170.000606  56.6600  56.6600  56.5100  56.550
2017-11-21      137407  172.945834  56.7897  56.9100  56.7500  56.900
2017-11-22      130437  174.322524  56.9000  56.9000  56.8350  56.890
2017-11-24       64847  175.096149  56.8950  57.0000  56.8810  57.000
...                ...         ...      ...      ...      ...     ...
2022-10-26      693414  150.040815  84.7300  86.1300  84.5900  84.850
2022-10-27      944054  145.311760  85.0700  85.5600  84.2600  84.430
2022-10-28     1226015  154.587167  84.2700  86.4689  84.2700  86.350
2022-10-31      726580  153.279315  85.6800  86.2800  85.5700  85.750
2022-11-01      650595  150.980742  86.5700  86.7037  85.1800  85.420


             volume trade_count       vwap
2017-11-17     3057          24  56.529770
2017-11-20     8575          49  56.586540
2017-11-21     5409          30  56.858212
2017-11-22     1893          19  56.871652
2017-11-24     3373          25  56.930960
...             ...         ...        ...
2022-10-26  1521839       10038  85.356688
2022-10-27  1514914        8738  84.797542
2022-10-28   977578        6713  85.836537
2022-10-31  2183872        6309  85.899832
2022-11-01  2321629        5964  85.870217

[1247 rows x 35 columns]

In [ ]:
# Monte Carlo Simulation (MCForcastTools.py)
from MCForecastTools import MCSimulation

In [ ]:
# configuring Monte Carlo simulation to forecast 10 years cumulative returns using df_ticker (evenly distributed portfolio)
MC_1 = MCSimulation(
    portfolio_data = df_ticker,
    weights = [.2,.2,.2,.2,.2],
    num_simulation = 100,
    num_trading_days = 252*10)

FRED api:

In [17]:
from fredapi import Fred

In [18]:
# set fred api key
load_dotenv()
fred_api_key = os.getenv("fred_api_key")

In [19]:
# all US 10 year bond data (RF)
fred = Fred(fred_api_key)
data = fred.get_series('DGS10')
data

1962-01-02    4.06
1962-01-03    4.03
1962-01-04    3.99
1962-01-05    4.02
1962-01-08    4.03
              ...
2022-11-10    3.82
2022-11-11     NaN
2022-11-14    3.88
2022-11-15    3.80
2022-11-16    3.67
Length: 15882, dtype: float64

In [20]:
# US10Y data from NOV 2017 - NOV 2022
data_ref =data.loc['2017-11-17':'2022-11-01'].dropna()
fred_df = pd.DataFrame(data_ref)

In [21]:
# set date as index
fred_df.index = fred_df.index.date

fred_df = fred_df / 100

fred_df

                 0
2017-11-17  0.0235
2017-11-20  0.0237
2017-11-21  0.0236
2017-11-22  0.0232
2017-11-24  0.0234
...            ...
2022-10-26  0.0404
2022-10-27  0.0396
2022-10-28  0.0402
2022-10-31  0.0410
2022-11-01  0.0407

[1239 rows x 1 columns]

Exporting CSV:

In [ ]:

combined_df.to_csv('joined_fred_spy_aapl.csv')

Fama and French 3 Factor:

In [22]:
import getFamaFrenchFactors as gff

In [23]:
# Fama French Factors data with frequency set to monthly
ff_monthly = gff.famaFrench3Factor(frequency='m')
ff_monthly.rename(columns={"date_ff_factors": 'Date'}, inplace=True)
ff_monthly.set_index('Date', inplace=True)
ff_monthly.tail()

            Mkt-RF     SMB     HML      RF
Date
2022-05-31 -0.0034 -0.0185  0.0841  0.0003
2022-06-30 -0.0843  0.0209 -0.0597  0.0006
2022-07-31  0.0957  0.0281 -0.0410  0.0008
2022-08-31 -0.0378  0.0139  0.0031  0.0019
2022-09-30 -0.0936 -0.0081  0.0005  0.0019